name: github-api
version: 1.0

services:
  - type: web
    name: github-api-service
    env: docker
    region: oregon
    plan: free
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 8080
